name: Deploy Lambda to AWS
on:
  push:
    branches:
      - main
      - master

env:
  AWS_REGION: sa-east-1
  TF_WORKSPACE: default

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: |
          cd app
          mvn clean package
          cd ..
          zip -j lambda-identification-auth.zip app/target/lambda-identification-auth.jar

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_SECRET }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        env:
          TF_VAR_db_url: ${{ var.DB_URL }}
          TF_VAR_db_user: ${{ var.DB_USER }}
          TF_VAR_db_password: ${{ var.DB_PASSWORD }}

      - name: Terraform Plan
        run: terraform plan
        env:
          TF_VAR_db_url: ${{ var.DB_URL }}
          TF_VAR_db_user: ${{ var.DB_USER }}
          TF_VAR_db_password: ${{ var.DB_PASSWORD }}

      - name: Terraform Apply
        run: terraform apply -auto-approve
        env:
          TF_VAR_db_url: ${{ var.DB_URL }}
          TF_VAR_db_user: ${{ var.DB_USER }}
          TF_VAR_db_password: ${{ var.DB_PASSWORD }}
